In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
sales_df = pd.read_csv(r"C:\\Users\\navee\\Downloads\\Pizza_Sale - pizza_sales.csv")

In [3]:
sales_df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [4]:
sales_df.isnull().sum()

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category       23
pizza_ingredients    13
pizza_name            7
dtype: int64

In [6]:
# Use transform to retain the same index
sales_df['pizza_category'] = sales_df.groupby('pizza_size')['pizza_category'].transform(
    lambda x: x.fillna(x.mode()[0] if not x.mode().empty else 'Others')
)

In [8]:
# Fill missing total_price using linear interpolation
sales_df['total_price'] = sales_df['total_price'].interpolate(method='linear')

In [9]:
# Drop columns with more than 70% missing data
sales_df = sales_df.dropna(thresh=0.3*len(sales_df), axis=1)

In [23]:
ingredients_df = pd.read_csv(r"C:\\Users\\navee\\Downloads\\Pizza_ingredients - Pizza_ingredients.csv")

In [24]:
ingredients_df.head()

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0

In [14]:
ingredients_df.isnull().sum()

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    4
dtype: int64

In [27]:
# Fill missing ingredient quantities based on pizza_name with median values
ingredients_df['Items_Qty_In_Grams'] = ingredients_df.groupby('pizza_name')['Items_Qty_In_Grams'].transform(lambda x: x.fillna(x.median()))

In [28]:
ingredients_df.isnull().sum()

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    0
dtype: int64

In [29]:
print(ingredients_df.index.duplicated().sum())  # This should return 0

0

In [32]:
# Plot sales over time
sales_df.set_index('order_date', inplace=True)  # Ensure order_date is set as index for time series
sales_df['total_price'].plot(figsize=(10, 5), title='Total Sales Over Time')
plt.show()

KeyError: "None of ['order_date'] are in the columns"

In [33]:
plt.figure(figsize=(8, 6))
sns.heatmap(sales_df.corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

ValueError: could not convert string to float: 'hawaiian_m'